{% extends 'layouts/donation.html' %}
{% load form_filters %}
{% block title %}Donation INformation :: {% endblock %}

{% block main %}
<div class="content-section-b" style="min-height: 77vh">
  <div class="container">

    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h2 class="text-center">Information</h2>
        <div class="row">
          <h3>Blood Donation is extremely safe</h3>
          <h4>
            However, problems occasionally arise during or after a donation. These problems are not common but we are telling you about them so that, if they do occur, you will know some simple and appropriate steps to take. Please note: All equipment used in blood collection is sterile, used once only and discarded. If you experience any problems or you feel unwell whilst you are at the donor centre sit down and ask a staff member for assistance. Are you feeling anxious? Please let us know. We can help you feel at ease
          </h4>
          <div class="row">
            <div class="col-sm-6">
              <h4>Feeling faint and fainting</h4>
              <p>Fainting is caused by a reflex which slows your pulse and lowers your blood
                pressure for a short time.
                About 1.5% of blood donors may feel faint (dizzy, light headed, hot, sweaty or
                unwell) during or immediately after their donation. A much smaller number of
                donors (about 0.15%) faint (lose consciousness).
                About 0.15% of donors will feel faint or faint after they have left the donor
                centre.
              </p>
              <h4>Reducing the chance of fainting</h4>
              <ul>
                <li>You should drink 3 good-sized glasses of water/juice prior to visiting
                the Blood Donor Centre. Be prepared by having plenty of liquid in the
                24 hours before donation, especially in warm weather.</li>
                <li>Make sure that you eat something in the 3 hours before donating –
savoury and salty foods are best.</li>
                <li>If you usually have low blood pressure and feel faint when you stand up
suddenly, please tell us prior to donating.</li>
                <li>Tense and relax your calf and thigh muscles repeatedly and move your
legs and feet during your donation.</li>
                <li>Spend at least 15 to 20 minutes in the refreshment area and have a cool
drink after donating to allow your blood volume to adjust.</li>
              </ul>
              <p>To reduce your chance of fainting after you have left the Blood Donor Centre,
for the next 6 hours:</p>
              <ul>
                <li>Continue to drink plenty of cool fluids but avoid alcoholic and hot drinks.</li>
                <li>Avoid standing still for long periods, do not rush or do strenuous exercise
or have a hot shower.</li>
              </ul>
              <h4>What to do if you feel faint</h4>
              <p>If you feel faint or unwell whilst you are at the Blood Donor Centre please tell a
              staff member immediately.
              If you feel faint after you have left the donor couch, immediately sit or lie down
              as flat as possible to avoid falling and injuring yourself and:
              </p>
              <ul>
                <li>Remain lying down for around 30 minutes or until you feel well again.</li>
                <li>Whilst lying down , tense your calf and thigh muscles for 5 seconds, then
relax, and repeat this every 1 - 2 minutes.</li>
                <li>Sit up for at least 4-5 minutes before you stand up.</li>
                <li>Drink plenty of cool fluids (at least 2 good sized glasses) and have a
savoury snack before you leave.</li>
                <li>Do not drive for at least 6 hours after you have recovered because there
is a small risk that you may faint again whilst you are driving</li>
              </ul>
              <p>If you feel faint whilst you are driving, slow down and stop the car as soon as
                it is safe to do so. Remain in the car, and lay your seat as flat as possible. It is
                recommended that you do not get out of your car as fainting beside a road can
                be hazardous. Do not attempt to drive again. Call 000 for an ambulance.
              </p>
              <h4>Bruising and Bleeding</h4>
              <p>
                Small bruises at the needle site are not unusual, but generally cause very few
                problems and disappear fully within a week. Larger bruises or bleeding from
                the needle site occur infrequently.
                To reduce the risk of bruising and bleeding at the needle site
              </p>
              <li>Avoid using your donation arm to eat and drink while at the Blood Donor
Centre and be careful when putting on a jacket after donating.</li>
              <li>If you start bleeding from the needle site, you should apply pressure to the
bleeding site and lift your arm above your shoulder for 15 minutes while
keeping your elbow straight.</li>
            </div>
            <div class="col-sm-6">
              <h4>Uncommon events</h4>
              <ul>
                <li>Nerve irritation - sometimes the donation needle may irritate a nerve
  under the skin. This may cause pain which is normally only momentary.
  If any pain persists following the insertion of the needle please advise
  staff immediately. Pressure on a nerve may also cause temporary
  numbness of the forearm.</li>
                <li>
                  Needle inserted into an artery – once identified the needle will be
  removed and pressure applied.
                </li>
                <li>
                  Infection or thrombosis – if you develop redness, tenderness or swelling
  this may be due to infection and/or a blockage of the vein with a blood
  clot (thrombosis).
                </li>
                <li>Increase in pulse rate or a sensation of tightness or pain in the chest.</li>
              </ul>
              <p>
                If you have any of these symptoms or concerns whilst in the Blood Donor
Centre please let the staff know immediately so they can assist. If symptoms
develop after leaving the Blood Donor Centre, and you require urgent attention,
first seek attention from a hospital or doctor so the problem can be assessed.
If you are unsure whether you should seek medical attention, please call us for
advice and if you do see a doctor we would like to hear the outcome
              </p>
              <h4>Iron levels and blood donation</h4>
              <p>
                Red blood cells are rich in iron and therefore blood donation results in iron
loss. If your iron stores fall too low, you may become iron deficient. This may
lead to:
              </p>
              <ul>
                <li>Tiredness and/or difficulty concentrating.</li>
                <li>Low haemoglobin levels (anaemia).</li>
              </ul>
              <p>
                Before donating, all donors undergo a haemoglobin screening test. This is
to ensure we do not take blood from donors who have or may be at risk of
anaemia. If your haemoglobin is below our guidelines we will delay your
donation and may refer you to your general practitioner.
The haemoglobin screening test is not a direct measure of iron levels and therefore
does not detect all cases of iron deficiency. To help replace the iron loss associated
with donation, and prevent iron deficiency and anaemia, we recommend you have
a healthy dietary intake of iron rich foods. This may not be sufficient for all donors,
especially youth donors and women of childbearing age. If you have concerns about
your iron levels or would like further information, please discuss with a member
of staff and/or your general practitioner.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.content-section-b -->
{% endblock %}
